@{
    ViewBag.Title = "About Us";
}
<div class="about-header">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</div>
<br />

<div class="aboutUs">
    <h1 >Our team:</h1>
    <br />

    <div class="row">
        @{ int i = 0; }


      


        <div class="col-md-6">
            <img class="center-block" align="middle" src="https://scontent.fsof2-1.fna.fbcdn.net/v/t34.0-12/17351024_1454674744563024_654459755_n.jpg?oh=43f99f83718aa1477873978a0fef05ec&amp;oe=59051786" width="300" height="400" />
            <hr />
            <div>
                
                <p class="about-us read-more-wrap">
                    <h2 align="center"><b>Илиан</b> </h2><br />
                    <span class="read-more-target">
                        Програмира от както ходи. Като малък е искал да стане зидар, но след серия неуспешни опити се е насочил към програмирането.Правил е дизайна на змията за Nokia 3310.
                    </span>
                </p>
                <label for="post-2" class="read-more-trigger"></label>

                <p>
                    <a href="https://www.facebook.com/ilian.ganchosov" target="_blank">Facebook</a>
                    &nbsp;
                    <a href="https://github.com/Plotso" target="_blank">GitHub</a>
                </p>
            </div>
        </div>


        <div class="col-md-6">
            <img class="center-block" src="https://scontent.fsof2-1.fna.fbcdn.net/v/t1.0-9/13934897_959329244192988_7142653525708533481_n.jpg?oh=d10e118f74bd2fa71e0cf1ac5220a3c0&amp;oe=5983ACE1" width="300" height="400" />
            <hr />
            <div>
                
                <p class="about-us read-more-wrap">
                    <h2 align="center"><b>Александър</b> </h2><br />
                    <span class="read-more-target">
                        В свободното си време обича да се смее истерично. Още на 3 успява да хакне базите на държавна сигурност, за което бива наказан с най-тежката присъда -> Един ден с прекрасната Цецка Цачева и идолът на народа- Делян Пеевски!
                    </span>
                </p>
                <label for="post-3" class="read-more-trigger"></label>

                <p>
                    <a href="https://www.facebook.com/alex.tzvetkov1" target="_blank">Facebook</a>
                    &nbsp;
                    <a href="https://github.com/LiardaZZ" target="_blank">GitHub</a>
                </p>

            </div>
        </div>


        

    </div>

</div>